@import "./styles/vars.scss";


main {
  display: flex;
  width: 800px;
  margin: 0 auto;
  > section {
    width: 50%;
    padding: 24px;
    a {
      text-decoration: none;
      color: black;
    }
  }


}
